#addButton {
	background-color: #000abd;
	border: #000a83 solid 4px;
	color: #ffffff;
	font-family: arial;
	font-size: 14pt;
	height: 35px;
	position: relative;
	bottom: 1px;
	width: 80px;
}

#addButton:hover {
	border: #ff0000 solid 4px;
}

body {
	background-image: url("../images/background.jpg");
	font-family: arial;
}

button {
	background-color: #000abd;
	border: #ffffff solid 4px;
	color: #ffffff;
}

button:hover {
	border: #ff0000 solid 4px;
}

#buttonArea {
	width: 100%;
}

form {
	color: #000a83;
	font-size: 20pt;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 20px;
}

#input {
	border: #000a83 solid 4px;
	font-family: arial;
	font-size: 16pt;
}

#input:focus {
	border: #ff0000 solid 4px;
}

#input:hover {
	border: #ff0000 solid 4px;
}

.gifDiv {
	background-color: #000abd;
	border: #000abd solid 4px;
	float: left;
	margin: 20px;
}

.instructions {
	color: #000a83;
	font-family: arial;
	font-size: 30pt;
	font-weight: bold;
	margin: 100px;
	text-align: center;
}

.instructionsButton {
	border: #000a83 solid 4px;
	font-size: 18pt;
}

.rating {
	background-color: #000abd;
	color: #ffffff;
	padding: 5px;
	text-align: center;
}

.topicButton {
	font-family: impact;
	font-size: 18pt;
	margin: 10px 0px 0px 20px;
	padding: 5px;
}

.topicButton:hover {
	border: #ff0000 solid 4px;
}

.topicButton:focus {
	background-color: #ff0000;
}