body {
	background-color: #d3d3d3;
	font-family: arial;
}

#buttonArea {
	width: 100%;
}

form {
	margin-left: 20px;
	margin-top: 20px;
}

#input:focus {
	border: #ff0000 solid 2px;
}

.gifDiv {
	float: left;
	margin: 20px;
}

#gifView {
}

.rating {
	background-color: #404040;
	color: #ffffff;
	padding: 5px;
	text-align: center;
}

.topicButton {
	background-color: #000000;
	color: #ffffff;
	font-family: impact;
	font-size: 16pt;
	margin: 10px 0px 0px 20px;
	padding: 5px;
}

.topicButton:hover {
	border: #ff0000 solid 2px;
}

.topicButton:focus {
	background-color: #ff0000;
}